.links {
  display: flex;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  .links-left {
    flex: 1;
    a {
      margin-left: 27px;
      color: #5f6368;
    }
   }
  .links-right {
    flex: 1;
    text-align: right;
    a {
      margin-right: 27px;
      color: #5f6368;;
    }
  }
}