.menu-wrapper {
  height: 68px;
  .menu-list {
    list-style: none;
    margin: 0;
    padding: 8px 16px;
    text-align: right;
    li {
      display: inline-block;
      padding: 0 8px;
      height: 32px;
      font-size: 11px;
      color: rgba(0,0,0,0.87);;
      line-height: 32px;
      vertical-align: middle;
      &.more {
        opacity: 0.55;
      }
      .author {
        height: 80%;
        border-radius: 50%;
      }
    }
  }
}