.content-wrapper {
  text-align: center;
  padding: 0 68px;
  .image {
    .logo {
      height: 78px;
      width: 224px;
    }
  }
  .input-wrapper {
    position: relative;
    padding: 24px 0;
    .search-input {
      width: 100%;
      height: 32px;
      text-indent: 32px;
      outline: none;
      border: 1px solid #dfe1e5;
      border-radius: 18px;
    }
    .search-icon, .voice-icon {
      display: inline-block;
      position: absolute;
      height: 20px;
      width: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    .search-icon {
      left: 8px;
      padding-top: 2px;
      color: #9AA0A6;
      font-size: 12px;
    }
    .voice-icon {
      right: 8px;
      background-image: url("../images/voice.png");
      background-size: 100% 100%;
    }
  }
  .button-wrapper {
    button {
      padding: 8px 16px;
      margin: 0 4px;
      font-size: 12px;
      border: none;
      border-radius: 4px;
      color: #5f6368;
      background-color: #f2f2f2;
    }
  }
}